<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InsightHub</title>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
  {% endblock %}
</head>
<body>

    <nav>
        InsightHub |
        <a href="/insight/">Upload</a>
        <a href="#">Browse</a>
        <!-- Add more links later -->
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; {{ 2025 }} InsightHub | Built with ❤️ and FastAPI
    </footer>

</body>
</html>
