<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InsightHub</title>
  <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
</head>
<body>

  <div class="layout-wrapper">
    <nav>
      <a href="/insight/">InsightHub</a>
      <a href="/insight/">Upload</a>
      <a href="#">Browse</a>
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      &copy; {{ 2025 }} InsightHub | Built with ❤️ and FastAPI
    </footer>
  </div>

</body>
</html>
